* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#booking-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking-error-message {
  margin: 2rem;
  text-align: center;
}

.booking-error-button {
  padding: 0.5rem;
}
