* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#booking-success-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#success-buttons > button {
  padding: 0.5rem;
}
