* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  min-height: 70px;
  border: 1px solid black; /* Meramente durante desarrollo */
  display: flex;
  align-items: center;
}

header h1 {
  flex-grow: 1;
  margin: 0.5rem;
}

a {
  margin: 22px;
}

a .login {
  margin-left: 100px;
  color: pink;
  background-color: aqua;
}

button {
  margin: 15px;
  /* border: none; */
  background-color: white;
}

button .login {
  margin-left: 100px;
  /*border: 1px solid black; /* Meramente durante desarrollo */
}

.logo {
  max-width: 50px;
  margin: 0.5rem;
}
