* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-list {
  display: flex;
}

/* #1 {
  display: block;
} */

.slider-image img {
  /* display: flex; */
  height: 33%;
  width: 90%;
  border-radius: 5%;
}
