* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.landing-filter-field {
  border-radius: 15px;
  border-color: blue;
  padding-left: 0.5rem;
  min-height: 30px;
  width: 15rem;
}

select {
  font-size: small;
  padding: 2px 5px;
  border-radius: 15px;
  border: 2px solid blue;
  padding-left: 0.5rem;
  height: 30px;
  width: auto;
}

.landing-submit {
  border-radius: 15px;
  min-height: 30px;
  min-width: 90px;
  background-color: rgb(7, 112, 249);
  color: white;
}

/* .matching-items {
  box-shadow: 2px 2px 5px grey;
} */

.matching-items ul li {
  list-style-type: none;
}
