img {
  box-shadow: 1px 0px grey;
}

.card-container {
  width: 60%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.estate-card {
  height: 75px;
  margin: 1rem;
}
