* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result-element-container {
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.result-image-slider {
  border: 1px solid black;
}

.result-info {
  border: 1px solid black;
}
