* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

div .user-avatar {
  display: flex;
  align-items: center;
}

img {
  margin: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

span {
  margin: 1rem;
}
