.user-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-menu {
  background-color: green;
  width: auto;
  min-height: auto;
  text-align: center;
  position: absolute;
  top: 70px;
  right: 0px;
  display: flex;
  justify-content: center;
}

.user-menu menu li {
  margin: 1rem;
  list-style-type: none;
  min-width: 150px;
  border: 1px solid black;
}
