.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.autocomplete {
  position: relative;
  margin-bottom: 3rem;
}

.autocomplete input {
  padding: 1rem;
  width: 100%;
}

.autocomplete ul {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  top: 3.5rem;
  box-shadow: 1px 1px 1px #000;
  padding: 0.5rem;
}
